@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Work Sans", serif;
}
/* header style */
header{
    background-color: #FFF4E7;
    padding: 30px 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.website-name{
    font-size: 3rem;
    font-weight: 700;
}
nav> ul> li{
    list-style: none;
    padding: 20px;
}
nav> ul> li> a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
}
nav>ul{
    display: flex;
}
/* banner styles */
.banner-content{
  text-align: center;
}
.banner-tittle{
    font-size: 3rem;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}
.banner-description{
    font-size: 1rem;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px ;
}
.btn-primary{
    padding: 10px 20px;
    margin-bottom: 30px;
    color: white;
    background-color: #FF900E;
    font-size: 1.1rem;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
}
.banner img{
    width: 100%;
}
